{% extends "base.html" %}

{% block content %}
<br>
<div class="container">
    <h2>{{ heading }}</h2>
    <a href="{% url 'download' doc_id %}">Download</a>
    <div class="row">
        {% for w in documentword_list %}
        <div class="col-sm-12">
            <br>
            <div class='card'>
                <div class="card-body">
                    <h2>{{ w.word.text }}</h2>
                    <ul class="list-unstyled">
                        <li>frequency{{ w.frequency }}</li>
                        <button type="button" class="btn btn-dark" data-toggle="collapse" data-target="#sentences{{ w.id }}">Sentences</button>
                        <div id="sentences{{ w.id }}" class="collapse">
                            {% for s in w.word.sentence_set.all %}
                            {% if s.document == w.document %}
                            <li>{{ s.text }}</li>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<br>
{% if is_paginated %}
<div class="container">
    <div class="text-center">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</div>
    <br>
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link text-light bg-dark" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link text-light bg-dark" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}

{% endblock %}